@tailwind base;
@tailwind components;
@tailwind utilities;

.tour-highlight {
  z-index: 980;
  animation: pulse 2s infinite;
  pointer-events: auto;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 122, 255, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 122, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 122, 255, 0);
  }
}
